* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--max-width: 120rem;

	--color--main: #0066ff;
	--color--main--lighter: #66c3ff;

	--color--analog: #ff630b;
	--color--analog--lighter: #ffae84;

	--color--text: #000;
	--color--text--light: #fff;

	--font-size--title: clamp(4rem, 6vmin + 0.1rem, 5.5rem);
}

html {
	font-size: 62.5%;
}

body {
	min-height: 100svh;
	overflow-x: hidden;

	font-size: 1.6rem;
	font-family: "Poppins", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Montserrat", sans-serif;
}

/* 
	###################
	- SECTION CLASSES -
	###################
				START
*/

.section {
	display: flex;
}

.section:not(.home) {
	margin-bottom: 25vmin;
}

.section--full {
	min-height: 100svh;
}

.section--half {
	min-height: 50svh;
}

.section__container {
	width: 100%;
	max-width: var(--max-width);

	margin: 0 auto;
	padding: 0 8vmin;
	flex: 1 1 var(--max-width);
}

.section__title {
	font-size: var(--font-size--title);
	text-align: center;
	margin: 1em 0;

	background: linear-gradient(
		45deg,
		var(--color--analog),
		var(--color--analog--lighter)
	);

	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

/* 
	###################
	- SECTION CLASSES -
	###################
					END
*/

.flex--center {
	display: flex;
	align-items: center;
	justify-items: center;
}

/* 
	####################
	------ HEADER ------
	####################
					START
*/

.header {
	font-size: 1.8rem;
	background-color: white;
}

.header__container {
	display: flex;
	justify-content: space-between;
	align-items: center;

	max-width: var(--max-width);
	margin: 0 auto;

	padding: 0 8vmin;
}

.header__nav {
	display: flex;
}

.nav__item {
	list-style-type: none;
}

.nav__item__anchor {
	text-decoration: none;
	font-weight: 500;

	display: inline-block;

	padding: 1em;
}

.header__hamburger {
	border: 0;
	background-color: transparent;

	width: 3.5rem;
	height: 3.5rem;

	display: none;
	flex-direction: column;
	justify-content: space-around;
}

.header__hamburger .line {
	height: 5px;
	width: 100%;
	border-radius: 2rem;
	background-color: black;
}

@media screen and (max-width: 768px) {
	.header__nav {
		display: none;
	}

	.header__hamburger {
		display: flex;
		margin: 1em 0;
	}
}

/* 
	####################
	------ HEADER ------
	####################
					END
*/

/* 
	####################
	------- MAIN -------
	####################
					START
*/

.main {
	position: relative;
}

.main__blob {
	overflow: hidden;
	position: absolute;

	max-width: 80vmin;
	translate: 0 25%;

	z-index: -1;
}

.main__blob.right {
	right: 0;
}

.main__blob.right .main__blob__image {
	right: 0;
	translate: 50% 0;
}

.main__blob.left {
	left: 0;
	translate: -50% 0;
}

.main__blob.left .main__blob__image {
	right: 0;
}

.main__blob__image {
	max-width: 100%;
}

.main > .main__blob:nth-of-type(2) {
	top: 50%;
}

.main > .main__blob:nth-of-type(3) {
	translate: 0 -20%;
}

.main > .main__blob:nth-of-type(3) .main__blob__image {
	rotate: -45deg;
}

/* 
	####################
	------- MAIN -------
	####################
					END
*/

/* 
	####################
	--- HOME SECTION ---
	####################
					START
*/

.home {
	background: url(../imgs/background/home.png);
	background-size: cover;
	background-repeat: round;

	min-height: 70svh;
}

.home__hero {
	display: flex;
	justify-content: center;
	gap: 3rem;

	margin-top: 8vmin;
}

.home__hero__content {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.home__hero__title,
.home__hero__subtitle {
	color: var(--color--text--light);
}

.home__hero__title {
	font-size: clamp(3rem, 5vmin + 0.1rem, 5rem);
	margin-bottom: 1rem;
}

.home__hero__subtitle {
	font-size: 2rem;
}

@media screen and (max-width: 768px) {
	.home {
		min-height: 100svh;
	}

	.home__hero {
		flex-wrap: wrap;
	}
}

/* 
	####################
	--- HOME SECTION ---
	####################
					END
*/

/* 
	####################
	PRESENTATION SECTION
	####################
				START
*/

.presentation__content {
	display: flex;
	flex-direction: column;
	align-items: center;

	margin-bottom: 8rem;
}

.presentation__content__title {
	text-align: center;
	margin-bottom: 3rem;
}

.presentation__content__text {
	max-width: 800px;
}

/* 
	####################
	PRESENTATION SECTION
	####################
					END
*/

/* 
	####################
	--- ABOUT SECTION ---
	####################
					START
*/

.goals__container {
	display: flex;
	flex-direction: column;
	position: relative;
}

.goal__cards {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	justify-items: center;
	gap: 2rem;
}
.goals__container::before {
	content: "";
	position: absolute;
	top: -70%;
	left: -30%;

	rotate: 30deg;

	z-index: -1;

	background-image: url(../imgs/patterns/blue.png);
	background-position: center;
	background-repeat: no-repeat;
	background-position: top center;

	width: 35vmin;
	height: 35vmin;
}

.goals__container::after {
	content: "";
	position: absolute;
	top: 0;
	right: -20%;

	rotate: 30deg;

	z-index: -1;

	background-image: url(../imgs/patterns/orange.png);
	background-position: center;
	background-repeat: no-repeat;

	width: 35vmin;
	height: 35vmin;
}

.goal__card {
	width: 100%;
	max-width: max(50vmin, 350px);

	background-color: #eeeeee7d;

	display: flex;
	flex-direction: column;

	padding: 2.2em;
	border-radius: 2rem;

	backdrop-filter: blur(10px);
	transition: transform 200ms ease, background-color 200ms ease;
}

.goal__card:hover {
	transform: scale(1.05);
	background-color: #ddddddb6;
}

.goal__card__icon {
	color: var(--color--main);
	font-size: 5rem;
	align-self: center;
}

.goal__card__title {
	margin-bottom: 1em;
	text-align: center;
	font-size: 2.5rem;
}
/* 
	####################
	--- ABOUT SECTION ---
	####################
					END
*/

/* 
	####################
	------ GALLERY -----
	####################
					START
*/

.gallery {
	position: relative;
	padding: 8vmin 0;
}

.gallery::after {
	content: "";
	position: absolute;
	inset: 0;
	z-index: -1;

	transform: skewY(-3deg);
	backdrop-filter: blur(10px);
	background-color: #00000021;
}

/* Background patterns */
.gallery__container::before {
	content: "";
	position: absolute;
	top: 50%;
	translate: 0 -50%;
	right: 0;

	z-index: -1;
	rotate: 30deg;

	background-image: url(../imgs/patterns/blue.png);
	background-position: right bottom;
	background-repeat: no-repeat;

	width: 35vmin;
	height: 35vmin;
}

/* Background patterns */
.gallery__container::after {
	content: "";
	position: absolute;
	top: -20%;
	left: 20%;

	z-index: -1;
	rotate: 30deg;

	background-image: url(../imgs/patterns/orange.png);
	background-position: right bottom;
	background-repeat: no-repeat;

	width: 35vmin;
	height: 35vmin;
}

.gallery__content {
	display: flex;
	gap: 2rem;

	background-image: url(../imgs/background/gallery.svg);
	background-size: cover;
	background-position: center;
	border-radius: 3rem;
}

.gallery__description {
	flex: 1 1 50%;
	padding: 2.5em;

	display: flex;
	flex-direction: column;
	justify-content: center;

	color: var(--color--text--light);
}

.gallery__description__title {
	font-size: 3rem;
	margin-bottom: 1em;
}

.gallery-carousel {
	flex: 1 1 50%;
	/* max-width: 50vmin; */
}

.carousel-cell {
	width: 100%;
	margin-right: 20px;

	display: flex;
	justify-content: center;

	padding: 50px;
}

.carousel-cell img {
	width: 100%;
	height: 100%;
}

@media screen and (max-width: 768px) {
	.gallery__content {
		flex-wrap: wrap-reverse;
	}
}

/* 
	####################
	------ GALLERY -----
	####################
					END
*/

/* 
	#####################
	--- ROBOT SECTION ---
	#####################
					START
*/

.robots__container {
	position: relative;
}

.robots__container::before {
	content: "";
	position: absolute;
	top: 30%;
	translate: 0 -50%;
	left: -20%;

	z-index: -1;
	rotate: 70deg;

	background-image: url(../imgs/patterns/orange.png);
	background-position: left center;
	background-repeat: no-repeat;

	width: 35vmin;
	height: 35vmin;
}

.robot__cards {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	gap: 2rem;
	justify-items: center;
}

.robot__card {
	max-width: max(50vmin, 350px);
	background-color: #eeeeee7d;
	backdrop-filter: blur(10px);
	border-radius: 2rem;
	overflow: hidden;

	height: min-content;

	box-shadow: 0 0 1rem #00000030;
}

.robot__card:hover .robot__card__button {
	opacity: 1;
	visibility: visible;
}

.robot__card:hover .robot__card__content {
	padding-bottom: calc(1.5em + 4rem);
}

.robot__card__image {
	padding: 2em;
}

.robot__card__image img {
	width: 100%;
}

.robot__card__content {
	background: linear-gradient(
		to left,
		var(--color--main--lighter),
		var(--color--main)
	);

	color: var(--color--text--light);

	position: relative;
	padding: 0 1.5em 1.5em;
	transition: padding-bottom 200ms ease;
}

.robot__card__content::after {
	content: "";
	position: absolute;
	top: -3rem;
	left: 0;

	border-top-right-radius: 50%;
	border-top-left-radius: 50%;
	z-index: -1;

	width: 100%;
	height: 4rem;
	background: linear-gradient(
		to left,
		var(--color--main--lighter),
		var(--color--main)
	);
}

.robot__card__title {
	font-size: 2rem;
	text-align: center;
	margin-bottom: 0.5em;
}

.robot__card__button {
	border: 0;
	padding: 0.5em 1em;

	margin-bottom: 1.6em;
	border-radius: 1rem;

	background-color: #109efd;

	visibility: hidden;
	opacity: 0;

	position: absolute;
	bottom: 0;

	transition: opacity 200ms ease, visibility 200ms ease;
}

.robot__card__button:hover {
	outline: 2px solid white;
	outline-offset: 3px;
}
.robot__card__button:active {
	background-color: var(--color--main--lighter);
}

.robot__button__anchor {
	text-decoration: none;
	font-weight: 500;
	color: var(--color--text--light);
}

@media screen and (max-width: 768px) {
	.robot__card__button {
		opacity: 1;
		visibility: visible;
		position: static;
		margin-top: 3rem;
		margin-bottom: 0;
	}

	.robot__card:hover .robot__card__content {
		padding-bottom: 1.5em;
	}
}

/*  
	#####################
	--- ROBOT SECTION ---
	#####################
					END
*/

/* 
	####################
	--- FOOTER SECTION ---
	####################
					START
*/

.footer {
	margin-top: 10rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-color: hsl(253, 10%, 18%);
}
.footer__Container {
	width: 100%;
	max-width: var(--max-width);
	margin: 0 auto;
	padding: 0 8vmin;
	flex: 1 1 auto;
}
.footer_Col50 {
	margin: 40px;
	height: 49%;
}
.footer__Title {
	color: white;
	font-size: 2.7rem;
	display: flex;
	justify-content: center;
	margin-bottom: 1rem;
}

.footer__Description {
	color: white;
	font-size: 1.8rem;
	text-align: center;
}

/* 
	####################
	--- FOOTER SECTION ---
	####################
					END
*/
