* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

*,
*::before,
*::after {
	/* border: 2px solid red; */
}

:root {
	--max-width: 120rem;

	--font--size: 1.6rem;

	--color--main: #0066ff;
	--color--main--lighter: #66c3ff;

	--color--analog: #ff630b;
	--color--analog--lighter: #ffae84;

	--color--text: #000;
	--color--text--light: #fff;

	--font-size--title: clamp(4rem, 6vmin + 0.1rem, 5.5rem);

	--gradient--blue: linear-gradient(to bottom left, #0066ff, #66c3ff);

	--gradient--orange: linear-gradient(to left, #ffae84, #ff630b);
}

/* custom scrollbar */
::-webkit-scrollbar {
	width: 20px;
}

::-webkit-scrollbar-track {
	background-color: transparent;
}

::-webkit-scrollbar-thumb {
	background-color: #0066ff;
	border-radius: 20px;
	border: 6px solid transparent;
	background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
	background-color: #4d94ff;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
	scroll-padding-top: 10rem;
}

body {
	min-height: 100svh;
	overflow-x: hidden;

	font-size: var(--font--size);
	font-family: "Poppins", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Montserrat", sans-serif;
}

@media screen and (max-width: 468px) {
	:root {
		--font--size: 1.4rem;
	}
}

/* 
	###################
	- SECTION CLASSES -
	###################
				START
*/

.section {
	display: flex;
}

.section:not(.home, :last-of-type) {
	margin-bottom: 25vmin;
}

.section--full {
	min-height: 100svh;
}

.section--half {
	min-height: 50svh;
}

.section__container {
	width: 100%;
	max-width: var(--max-width);

	margin: 0 auto;
	padding: 0 8vmin;
	flex: 1 1 var(--max-width);
}

.section__title {
	margin-bottom: 5rem;
}

.section__title .title {
	font-size: var(--font-size--title);
	text-align: center;

	background: var(--gradient--orange);

	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.section__title .subtitle {
	font-size: clamp(1.6rem, 2vmin + 0.1rem, 2.2rem);
	text-align: center;
}

/* 
	###################
	- SECTION CLASSES -
	###################
					END
*/

.flex--center {
	display: flex;
	align-items: center;
	justify-content: center;
}

/* 
	####################
	------ HEADER ------
	####################
					START
*/

.header {
	font-size: 1.8rem;
	background-color: transparent;
	padding: 3vmin 0;

	position: fixed;
	width: 100%;
	z-index: 10;

	transition: background 250ms ease;
}

.header.background {
	background-color: white;
	box-shadow: 0 0 1rem #00000030;
}

.header__container {
	display: flex;
	justify-content: space-between;
	align-items: center;

	max-width: var(--max-width);
	margin: 0 auto;

	padding: 0 8vmin;
}

.header__logo .logo a {
	text-decoration: none;
	color: var(--color--text--light);
	font-weight: bold;

	transition: color 250ms ease;
}

.header.background .header__logo .logo a {
	color: var(--color--text);
}

.header__nav {
	display: flex;
	gap: 1rem;
}

.nav__item {
	list-style-type: none;
}

.nav__item__anchor.highlighted {
	background: linear-gradient(
		to bottom left,
		var(--color--analog),
		var(--color--analog--lighter)
	);

	color: var(--color--text--light);
	font-weight: 600;
	border: 0;
}

.nav__item__anchor {
	text-decoration: none;
	font-weight: 500;

	display: inline-block;

	padding: 0.3em 1em;

	border-radius: 2rem;
	color: var(--color--text--light);
	transition: background 250ms ease, color 250ms ease;
}

.header.background .nav__item__anchor:not(.highlighted) {
	background-color: #eee;
	color: var(--color--text);
}

.nav__item__anchor:hover {
	outline: 0.2rem solid var(--color--analog--lighter);
	outline-offset: 0.2rem;
}

.header__hamburger {
	border: 0;
	background-color: transparent;

	width: 3.5rem;
	height: 3.5rem;

	display: none;
	flex-direction: column;
	justify-content: space-around;

	cursor: pointer;
}

.header__hamburger .line {
	height: 5px;
	width: 100%;
	border-radius: 2rem;
	background-color: #fff;
}

.header.background .header__hamburger .line {
	background-color: black;
}

@media screen and (max-width: 768px) {
	.header__nav {
		display: none;
	}

	.header__hamburger {
		display: flex;
	}
}

/* 
	####################
	------ HEADER ------
	####################
					END
*/

/* 
	####################
	------- MAIN -------
	####################
					START
*/

.main {
	position: relative;
}

.main__blob {
	overflow: hidden;
	position: absolute;

	max-width: 80vmin;
	translate: 0 25%;

	z-index: -1;
}

.main__blob__image,
.main__bubble__image,
.main__pattern__image {
	max-width: 100%;
}

.main__blob.right {
	right: 0;
}

.main__blob.right .main__blob__image {
	translate: 50% 0;
}

.main__blob.left {
	left: 0;
}

.main__blob.left .main__blob__image {
	translate: -50% 0;
}

.main__bubble {
	position: absolute;
	z-index: -1;

	width: min(50vmin, 400px);
	height: min(50vmin, 400px);

	filter: blur(10px);
	opacity: 0.7;
}

.main__bubble[data-order="1"] {
	right: 50%;
	top: 50%;
}

.main__bubble[data-order="2"] {
	top: 60%;
	left: 10%;
	rotate: -25deg;
}

.main__pattern {
	position: absolute;
	z-index: -1;

	background-position: center;
	background-size: 300%;
	background-repeat: no-repeat;

	width: min(50vmin, 300px);
	height: min(50vmin, 300px);
}

.main__pattern.blurred {
	filter: blur(2px);
}

.main__pattern.blue {
	background-image: url(../imgs/patterns/blue.png);
}

.main__pattern.orange {
	background-image: url(../imgs/patterns/orange.png);
}

.main__pattern[data-order="1"] {
	background-position: right bottom;
	translate: 0 100%;
}

.main__pattern[data-order="2"] {
	background-position: right top;
	translate: 0 -100%;
	left: 50%;
}

.main__pattern[data-order="3"] {
	background-position: left center;
	translate: 0 -100%;
	right: 0;
}

.main__pattern[data-order="4"] {
	background-position: left center;
	translate: 0 -10%;
	left: 10%;
}

.main__pattern[data-order="5"] {
	background-position: top center;
	translate: 0 100%;
	right: 20%;
	rotate: -90deg;
}

.main__pattern[data-order="6"] {
	background-position: top center;

	top: 50%;
	translate: 0 -50%;
	right: 20%;
}

/* 
	####################
	------- MAIN -------
	####################
					END
*/

/* 
	####################
	--- HOME SECTION ---
	####################
					START
*/

.home {
	background-color: #0066ff;
	min-height: calc(70svh + 20rem);
	position: relative;

	padding-bottom: 15vmin;
}


.home::after {
	content: "";
	height: 15vmin;

	position: absolute;
	inset-inline: 0;
	bottom: 0;

	border: 2px solid white;

	border-radius: 50% 50% 0 0 / 100% 100% 0 0;
	background-color: white;
}

.home__hero {
	display: flex;
	justify-content: center;
	gap: 3rem;
}

.home__hero__element {
	flex: 1 1 40%;

	display: flex;
	justify-content: center;
}

.home__hero__content {
	flex: 1 1 60%;

	display: flex;
	flex-direction: column;
	justify-content: center;
}

.home__hero__title,
.home__hero__subtitle {
	color: var(--color--text--light);
}

.home__hero__title {
	font-size: clamp(3.2rem, 5vmin + 0.1rem, 5rem);
	margin-bottom: 1rem;
}

.home__hero__subtitle {
	font-size: clamp(1.6rem, 2vmin + 0.1rem, 2rem);
}

@media screen and (max-width: 768px) {
	.home {
		min-height: 100svh;
	}

	.home__hero {
		flex-wrap: wrap;
	}
}

/* 
	####################
	--- HOME SECTION ---
	####################
					END
*/

/* 
	####################
	-- ABOUT SECTION --
	####################
				START
*/

.about__content {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.about__title {
	text-align: center;
}

.about__text {
	max-width: 800px;
}

/* 
	####################
	-- ABOUT SECTION --
	####################
					END
*/

/* 
	####################
	--- GOALS SECTION ---
	####################
					START
*/

.goals {
	position: relative;
}

.goals__container {
	display: flex;
	flex-direction: column;
	position: relative;
}

.goal__cards {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	justify-items: center;
	gap: 2rem;
}

.goal__card {
	width: 100%;
	max-width: max(50vmin, 350px);

	background-color: #eeeeee7d;

	display: flex;
	flex-direction: column;

	padding: 2.2em;
	border-radius: 2rem;

	backdrop-filter: blur(10px);
	transition: transform 200ms ease, background-color 200ms ease;
}

.goal__card:hover {
	transform: scale(1.05);
	background-color: #ddddddb6;
}

.goal__card:hover .goal__card__icon {
	rotate: 1turn;
	transition: rotate 400ms ease;
}

.goal__card__icon {
	font-size: 5rem;
	align-self: center;
}

.goal__card__title,
.goal__card__icon {
	background: var(--gradient--blue);

	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.goal__card__title {
	margin-bottom: 1em;
	text-align: center;
	font-size: 2.5rem;
}
/* 
	####################
	--- ABOUT SECTION ---
	####################
					END
*/

/* 
	####################
	------ GALLERY -----
	####################
					START
*/

.gallery {
	position: relative;
	padding: 8vmin 0;
}

.gallery__container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.gallery__content {
	display: flex;
	gap: 2rem;

	background-image: url(../imgs/background/gallery.svg);
	background-size: cover;
	background-position: center;
	border-radius: 3rem;
}

.gallery__description {
	flex: 1 1 50%;
	padding: 2.5em;

	display: flex;
	flex-direction: column;
	justify-content: center;

	color: var(--color--text--light);
}

.gallery__description__title {
	font-size: 3rem;
	margin-bottom: 1em;
}

.gallery-carousel {
	flex: 1 1 50%;
}

.carousel-cell {
	width: 100%;
	margin-right: 20px;

	display: flex;
	justify-content: center;

	padding: 50px;
}

.carousel-cell img {
	width: 100%;
	height: 100%;
}

@media screen and (max-width: 768px) {
	.gallery__content {
		flex-wrap: wrap-reverse;
		max-width: 100vmin;
	}
}

/* 
	####################
	------ GALLERY -----
	####################
					END
*/

/* 
	#####################
	-- ROBOTS SECTION --
	#####################
					START
*/

.robots {
	position: relative;
}

.robot__cards {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	gap: 2rem;
	justify-items: center;
}

.robot__card {
	max-width: max(40vmin, 350px);
	background-color: #eeeeee7d;
	backdrop-filter: blur(10px);
	border-radius: 2rem;

	height: min-content;

	box-shadow: 0 0 1rem #00000030;
}

.robot__card__image {
	padding: 2em;
}

.robot__card__image img {
	width: 100%;
}

.robot__card__content {
	background: linear-gradient(
		to left,
		var(--color--main--lighter),
		var(--color--main)
	);

	color: var(--color--text--light);

	position: relative;
	padding: 0 1.5em 1.5em;

	border-radius: 0 0 2rem 2rem;

	transition: border-radius 50ms ease;
}

.robot__card__content::after {
	content: "";
	position: absolute;
	top: -3rem;
	left: 0;

	border-top-right-radius: 50%;
	border-top-left-radius: 50%;
	z-index: -1;

	width: 100%;
	height: 4rem;
	background: linear-gradient(
		to left,
		var(--color--main--lighter),
		var(--color--main)
	);
}

.robot__card__slide {
	background: linear-gradient(
		to left,
		var(--color--main--lighter),
		var(--color--main)
	);
	position: absolute;
	width: calc(100% - 1px);
	left: 0;
	padding: 0.5em 1.5em 1.5em;

	translate: 0 -100%;
	z-index: -1;

	border-radius: 0 0 2rem 2rem;
	opacity: 0;
	transition: translate 250ms ease, opacity 250ms ease;
}

.robot__card:hover .robot__card__content {
	border-radius: 0;
}

.robot__card:hover .robot__card__slide {
	translate: 0 1.5em;
	opacity: 1;
}

.robot__card__title {
	font-size: 2rem;
	text-align: center;
	margin-bottom: 0.5em;
}

.robot__card__button {
	border: 0;
	padding: 0.5em 1em;

	border-radius: 1rem;

	background-color: #109efd;
}

.robot__card__button:hover {
	outline: 2px solid white;
	outline-offset: 3px;
}

.robot__card__button:active {
	background-color: var(--color--main--lighter);
}

.robot__button__anchor {
	text-decoration: none;
	font-weight: 500;
	color: var(--color--text--light);
}

@media screen and (max-width: 768px) {
	.robot__card__slide {
		position: static;
		translate: 0 0;
		opacity: 1;

		padding: 1.5em 0 0;
		background: transparent;
	}

	.robot__card:hover .robot__card__content {
		border-radius: 0 0 2rem 2rem;
	}

	.robot__card:hover .robot__card__slide {
		translate: 0 0;
	}
}

/*  
	#####################
	--- ROBOT SECTION ---
	#####################
					END
*/

/* 
	####################
	-- ENROLL SECTION --
	####################
					START
*/

.enroll {
	position: relative;
}

.enroll__container {
	display: flex;
	flex-direction: column;
	position: relative;
}

.enroll::before {
	content: "";
	position: absolute;
	top: 90%;
	left: 0;

	z-index: -1;

	background-image: url(../imgs/bubbles/bubble-5.png);
	background-size: cover;

	width: min(70vmin, 500px);
	height: min(70vmin, 500px);

	filter: blur(10px);
	opacity: 0.5;
}

.enroll__form {
	align-self: center;

	min-height: min(70vmin, 50rem);
	width: min(100%, 50rem);

	background-color: #eeeeee7d;
	backdrop-filter: blur(10px);
	position: relative;

	border-radius: 2rem;
	padding: 3rem;
	display: flex;
	flex-direction: column;
}

.enroll__form::before {
	content: "";
	display: none;
	position: absolute;
	inset-block: 0;
	left: -49%;
	width: 35rem;

	background-image: url(../imgs/robots/robot-side-finger.png);
	background-size: contain;
	background-repeat: no-repeat;
	z-index: 1;
}

.form__title .subtitle {
	margin: 1rem 0 3rem;
}

.form__title {
	text-align: center;
}

.form__title .title {
	font-size: 4rem;

	background: var(--gradient--blue);

	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.enroll__form form {
	display: flex;
	flex-direction: column;
}

.enroll__form__label {
	margin-bottom: 2.5rem;
	position: relative;
}

.enroll__form__input {
	width: 100%;
	border: 0;
	padding: 1.2em 2rem 1.2em;
	border-radius: 1rem;
}

.enroll__form__input::placeholder {
	opacity: 0;
}

.enroll__form__input:focus {
	outline: var(--color--main) 0.1rem solid;
	outline-offset: 0.3rem;
}

.enroll__form__input:focus + span,
.enroll__form__input:not(:placeholder-shown) + span {
	translate: 0 -4.5rem;
	background: var(--gradient--blue);
	padding: 0.3em 1em;
	font-size: inherit;
	color: var(--color--text--light);
	font-weight: 600;

	border-radius: 1rem;
}

.enroll__form__label:last-of-type {
	accent-color: var(--color--main);
	display: flex;
	justify-content: space-between;
}

.enroll__form__select {
	padding: 0.5em 1em;
	border: 0;
	background-color: white;
	border-radius: 1rem;
	text-align: center;
}

.enroll__form__select:focus {
	outline: 1px solid var(--color--main);
	outline-offset: 3px;
}

.enroll__form__text {
	display: inline-block;
	margin-left: 2rem;
	margin-bottom: 0.5rem;

	position: absolute;

	top: 50%;
	translate: 0 -50%;
	left: 0;

	transition: translate 200ms ease;
}

.enroll__form__button {
	padding: 0.8em 0;
	border: 0;
	border-radius: 1rem;

	background: var(--gradient--blue);
	font-weight: bold;
	color: var(--color--text--light);
	font-size: 1.8rem;
}

.enroll__form__button:hover {
	outline: 0.2rem solid var(--color--main);
	outline-offset: 0.5rem;
}

.enroll__form__button:active {
	opacity: 0.9;
}

@media screen and (min-width: 768px) {
	.enroll__form::before {
		display: block;
	}
}

@media screen and (max-width: 468px) {
	.enroll__form__text {
		font-size: 1.2rem;
	}

	.enroll__form__input {
		padding: 1em 2rem 1em;
	}

	.enroll__form__input:focus + span,
	.enroll__form__input:not(:placeholder-shown) + span {
		font-size: 1rem;
		translate: 0 -3.8rem;
	}

	.enroll__form__button {
		font-size: 1.4rem;
	}
}

/* 
	####################
	-- ENROLL SECTION --
	####################
					END
*/

/* 
	####################
	- PARTNERS SECTION -
	####################
					START
*/

.partners {
	padding: 5vmin 0;
	position: relative;
	z-index: 2;
	padding: 8vmin 0;
	margin-bottom: 5vmin;
}

.partners::after {
	content: "";
	position: absolute;
	inset: 0;
	z-index: -1;

	transform: skewY(-3deg);
	backdrop-filter: blur(10px);
	background-color: #00000021;
}

.partners__grid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(14rem, 1fr));
	justify-content: center;
	justify-items: center;
	gap: 2rem;
}

.partners .subtitle {
	background: var(--gradient--orange);

	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font-weight: 500;
}

.partner {
	width: 15rem;
	height: 15rem;
	border-radius: 50% 0 50% 0;

	background: linear-gradient(to bottom left, #0066ff, #109efd);

	padding: 2vmin;
}

.partner__logo {
	width: 100%;
	height: 100%;
	padding: 1.5rem;
}

.partner:nth-child(3) .partner__logo {
	padding: 2.2rem;
}
/* 
	####################
	- PARTNERS SECTION -
	####################
					END
*/

/* 
	####################
	--- FOOTER SECTION ---
	####################
					START
*/

.footer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-color: hsl(253, 10%, 18%);
	position: relative;

	padding-top: 15vmin;
}

.footer::after {
	content: "";
	height: 15vmin;

	position: absolute;
	inset-inline: 0;
	top: 0;

	border: 2px solid white;

	border-radius: 0 0 50% 50% / 0 0 100% 100%;
	background-color: white;
}

.footer__Container {
	width: 100%;
	max-width: var(--max-width);
	margin: 0 auto;
	padding: 0 8vmin;
	flex: 1 1 auto;
}
.footer_Col50 {
	margin: 40px;
	height: 49%;
}
.footer__Title {
	color: white;
	font-size: 2.7rem;
	display: flex;
	justify-content: center;
	margin-bottom: 1rem;
}

.footer__Description {
	color: white;
	font-size: 1.8rem;
	text-align: center;
}

.footer_Col40 {
	height: 50px;
	display: flex;
	gap: 20px;
	justify-content: center;
}

/* 
	####################
	--- FOOTER SECTION ---
	####################
					END
*/
